<div class="projects-list">
  <table mat-table [dataSource]="this.dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let project">{{project.name}}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let project">{{project.description}}</td>
    </ng-container>
    <ng-container matColumnDef="dueDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </th>
      <td mat-cell *matCellDef="let project">{{project.dueDate}}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let project" [ngStyle]="{'color':this.getTextColor('status', project.status)}">
        {{project.status}}</td>
    </ng-container>
    <ng-container matColumnDef="teamMembers">
      <th mat-header-cell *matHeaderCellDef> Team Members </th>
      <td mat-cell *matCellDef="let project">
        <div *ngFor="let member of project.teamMembers" class="user-bubble">
          <span class="user-initials">{{this.getInitials(member) }}</span>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="Progress">
      <th mat-header-cell *matHeaderCellDef> Progress </th>
      <td mat-cell *matCellDef="let project">
        <span>{{(project.progress*100).toFixed(2)}}%</span>
        <mat-progress-bar *ngIf="project.progress >= 0.6" [value]="project.progress*100" color="primary"
          mode="determinate"></mat-progress-bar>
        <mat-progress-bar *ngIf="project.progress < 0.6" [value]="project.progress*100" color="warn"
          mode="determinate"></mat-progress-bar>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let project" class="actions-column">
        <button mat-icon-button (click)="this.openTaskStatusDialog(project.id)"
          matTooltip="View tasks-status breakdown">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button (click)="this.editProject(project)" matTooltip="Edit Project">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="this.archiveProject(project)" matTooltip="Archive Project">
          <mat-icon>archive</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="this.displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: this.displayedColumns"></tr>
  </table>
</div>