img {
  max-height: 40px;
  max-width: fit-content;
  justify-content: center;
  align-items: center;

}

.user-button{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
}

