img {
  max-height: 40px;
  max-width: fit-content;
  justify-content: center;
  align-items: center;

}

.profile-image{
  cursor:pointer;
}

.profile-image:hover {
  transform: scale(1.05); /* Slight zoom effect */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Add a shadow */
}
