<div fxLayout="column" fxFlexAlign="center center">
  <div fxFlex="30%">
    <profile-common></profile-common>
  </div>
  <div fxFlex="70%">
    <div class="login" fxLayout="column" fxFlexAlign="center center">
      <div *ngIf="!isLogedIn" fxFlex="50%">
        <button mat-raised-button (click)="login()">Login</button>
      </div>

      <div *ngIf="isLogedIn" fxFlex="50%">
        <h2>Name : {{this.name}}</h2>
        <h3>Email : {{this.email}}</h3>
        <button mat-raised-button (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</div>