<div class="recent-tasks-list">
  <table mat-table [dataSource]="this.tasks" class="mat-elevation-z8">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let task">{{task.title}}</td>
    </ng-container>
    <ng-container matColumnDef="project">
      <th mat-header-cell *matHeaderCellDef> Project </th>
      <td mat-cell *matCellDef="let task">{{task.project}}</td>
    </ng-container>
    <ng-container matColumnDef="dueDate">
      <th mat-header-cell *matHeaderCellDef> Due Date </th>
      <td mat-cell *matCellDef="let task">{{task.dueDate}}</td>
    </ng-container>
    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef> Priority </th>
      <td mat-cell *matCellDef="let task" [ngStyle]="{'color':this.getTextColor('priority', task.priority)}">
        {{task.priority}}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let task" [ngStyle]="{'color':this.getTextColor('status', task.status)}">{{task.status}}
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let task" class="actions-column">
        <button mat-icon-button matTooltip="Complete Task" (click)="completeTask(task.id)">
          <mat-icon>done_outline</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Edit Task" [routerLink]="['/dashboard/add-edit', task.id]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Delete Task" (click)="deleteTask(task.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="this.displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: this.displayedColumns"></tr>
  </table>
</div>